[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/vault-interfaces.git"]
	path = lib/vault-interfaces.git
	url = https://github.com/yieldprotocol/vault-interfaces.git
[submodule "lib/vault-interfaces"]
	path = lib/vault-interfaces
	url = https://github.com/yieldprotocol/vault-interfaces
