# Temp & IDE files
.vscode/
*~
*.swp
*.swo

# Packaging
*.tar.gz
*.tgz
package/

# Buidler files
cache
cache/
output/
deployments/

# Secret files
.etherscanKey
.infuraKey
.mythxKey
.secret
build/

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json


# Crytic
crytic-export/

# Typescript
dist/

# VSCodeCounter
.VSCodeCounter/

# DappTools
.DS_Store
/out
hevm.libs.*
lib/ds-test


