{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "explicitTypes": "always",
        "printWidth": 120,
        "singleQuote": false
      }
    }
  ]
}

{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "printWidth": 120,
        "explicitTypes": "always"
      }
    }
  ]
}